
/target/debug/
/target/release/
target/sbf-solana-solana/
target/types/
target/.rustc_info.json
**/*.dylib
**/*.dll
**/*.exe


/.anchor/
**/.anchor/
*.log
*.out
*.pid


client/node_modules/
client/.yarn/
client/yarn.lock


*.swp
*.swo
.DS_Store
.idea/
.vscode/
*.iml


.env
.env.*
*.local



!Anchor.toml
!Cargo.toml
!rust-toolchain.toml


*.tmp
*.bak


!Cargo.lock
